body{
    background-image: url(../../IMG/circuitsdark.gif);
    max-width: 960px;
    margin:0 auto;
    height: auto;
}
@font-face {
    font-family: Cherrish;
    src: url(../../FONTS/Cherish.ttf);
}
@font-face {
  font-family: 'Comic Sans MS';
  src: url(../../FONTS/comici.ttf);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
  }
  h1{
    color : #ffffff;
    font-size: 15px;
    font-weight: lighter;
    font-family: Cherrish;
    text-align: center;
}
.butttext{
    color : #ffffff;
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Comic Sans MS';
}

.butttext2{
  color : #ffffff;
  font-size: 20px;
  font-weight: lighter;
  font-family: 'Comic Sans MS';
}

.butttext3{
  color : #ffffff;
  font-size: 20px;
  font-weight: lighter;
  font-family: 'Comic Sans MS';
}

.butttext4{
  color : #ffffff;
font-size: 20px;
  font-weight: lighter;
  font-family: 'Comic Sans MS';
}

.butttext:hover{
  color: rgb(255, 36, 36);

}

.butttext2:hover {
  color: rgb(221, 221, 49);
}
 


.butttext3:hover {
  color: rgb(86, 255, 86);
  
}

.butttext4:hover {
  color: rgb(72, 72, 255);
}
tr{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Comic Sans MS';
    display: flex;
    vertical-align: inherit;
    font-weight: bold;
    overflow: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

td{
    display: flex;
    align-content: center;
    margin-left: 35px;
}


butttext{
    color : #ffffff;
    font-size: 25px;
    font-weight: lighter;
    font-family: Cherrish;
}

butt{
    text-align:justify;
    margin: 5%;
}




  br{
    width: 20px;
}

.column {
    float: left;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .scrollbox{
    width: 25%;
    color: #000;
    text-align: justify;
    height:220px;
    border-top: rgb(255, 78, 196);
    border-bottom: rgb(198, 33, 204);
    border-left: rgb(195, 121, 255);
    border-right: rgb(255, 34, 207);
    border-style: solid;
    font-size: large;
    padding: 3%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-image: url(../../IMG/background6.png);
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-width: 10px;
}
table {
    border-collapse: separate;
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    text-align: start;
    border-spacing: 2px;
    font-variant: normal;
}



tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}