
body {
  display: table;
  overflow: hidden;
}

@font-face {
  font-family: DOS;
  src: url(../FONTS/pdv437.ttf);
}

html{
  cursor: url(../IMG/cursor/cursorDark.png),auto
}

a{
  cursor: url(../IMG/cursor/pointerDark.png),auto
}

h1{
  color : #ffffff;
  font-size: 20px;
  font-weight: lighter;
  font-family: DOS;
  text-align: center;
  
}

label{
  cursor: url(../IMG/cursor/cursorDark.png),auto
}


.butttext{
  color: #ffffff;
  font-size: 25px;
  font-weight: lighter;
  font-family: DOS;
}

.butttext:hover{
  color: rgb(93, 93, 93);
  cursor: url(../IMG/cursor/pointerDark.png),auto
}

.confirm:hover{
  color: rgb(93, 93, 93);
  cursor: url(../IMG/cursor/pointerDark.png),auto
}

.div2 {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-family: DOS;
  font-size: 25px;
  color: #ffffff;
}


.box {
  text-align: center;
  font-size: 20px;
  font-family: DOS;
  outline: none;
  width: 250px;
  height: 35px;
  border: none;
  box-shadow: 5px 5px rgb(93, 93, 93);
  background-color: #ffffff;
  cursor: url(../IMG/cursor/pointerDark.png),auto
}

.confirm {
  border: none;
  font-size: 30px;
  font-family: DOS;
  margin-top: 10px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  cursor: url(../IMG/cursor/pointerDark.png),auto
}

